{% extends 'base.html' %}
{% load static %}
{% block title %} All Posts {% endblock %}
{% block body %}
<div class="container">
    <div class="shadow p-5 mt-5">
        <h5 class="pb-3">All Posts</h5>
        {% for post in posts %}
        <h6><a href="{% url 'get_post' post.id %}"> {{post.title}} </a> </h6>
        <div class="d-flex justify-content-end p-0">
            <small>created - {{ post.created_at }}</small>
        </div>
        <hr>
        {% endfor %}
    </div>
</div>
{% endblock %}